
.Page-Container{
    position: absolute;
}

.Page{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}

#Main-Navigation{
    display: block;
    position: fixed;
    width:100%;
    height:7%;
    z-index: 1000;
}

#Menu-Title{
  position: fixed;
  right:2%;
  top:0;
}

#Main-Menu-Toggle{
  display: block;
  position: relative;
  top: 33%;
  left: 3%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#Main-Menu-Toggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#Main-Menu-Toggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#Main-Menu-Toggle span:first-child{
  transform-origin: 0% 0%;
}

#Main-Menu-Toggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#Main-Menu-Toggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#Main-Menu-Toggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#Main-Menu-Toggle input:checked ~ span:nth-last-child(2){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#Main-Menu{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: #000;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#Main-Menu-Toggle input:checked ~ #Main-Menu{
  transform: translate(0, 0);
}

#Main-Menu ul {
  list-style-type: none;
  text-align: center;
  padding:0;
  margin: 0;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#Main-Menu ul li{
  padding: 10px 0;
  font-size: 22px;
}

#Main-Menu ul li a {
  font-family: 'Rajdhani', sans-serif;
  text-decoration: none;
  color: #999;
  font-size: 10vw;
  font-weight: 700;
  position:relative;
  transition: all 0.25s cubic-bezier(0.77,0.2,0.05,1.0);
}

#Main-Menu ul li a::after {
    content: " ";
    background-color: rgba(155,155,155,.7);
    font-weight: bold;
    width:100%;
    position: absolute;
    height: 0%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.77,0.2,0.05,1.0);
}

#Main-Menu ul li a:hover {
  color: #fff;
  transition: all 0.25s cubic-bezier(0.77,0.2,0.05,1.0);
}

#Main-Menu ul li a:hover::after  {
  opacity: 100;
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  height: 30%;
  opacity: 1;
  /*width:100%;*/
}
